* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.mainContainer--accountSettings {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  
}

.componentContainer {
  /* display: flex;
  justify-content: center; */
}

.redLine {
  /* position: absolute;
  border-right: solid black;
  top: 112px;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 180px; */

  
}

.selectionsContainer {
  
  /* top: 50%;
  transform: translate(0, -50%);
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; */
  /* position: absolute;
  height: 100%;

  top:0;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px; */
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;
}

#accountSettingsDividerBar {
  border: solid 0.8px red;
  width: 100%;
  margin-bottom: 40px;
}


.selectionsContainer button {
  border-radius: 55px;
  height: 50px;
  letter-spacing: 1.5px;
  width: 150px;
}

.selection {
  border: 1px solid black;
  width: 100px;
}

.selection:hover {
  background-color: #2e9ce5;
  box-shadow: 0px 15px 20px rgba(46, 171, 229, 0.4);
  color: #fff;
}

.active {
  background-color: #2e9ce5;
  color: #fff;
  border: 1px solid black;
  text-decoration: 2px underline red;
}



