* {
    box-sizing: border-box;
}
  
.mainContainer {
    
    /* height: 50vh; */
    margin-top: 30px;
    /* display: flex;
    justify-content: center; */
}

.textFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.redLine {
    position: absolute;
    color: 10px solid red;
}

.selectionsContainer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.selection {
    width: 100px;
    margin: 0px;
}

#account {
    border: 2px solid blue;
    margin-bottom: 100px;
}

#password:hover {
    border: 2px solid blue;

}



  
  
  