* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.mainContainer--accountSettings {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;   
}

.accountSettingsTitle {
  font-weight:500;
  font-size: 40px;
  margin-bottom: 30px;
}



.selectionsContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;  
  width:100%;
}

#accountSettingsDividerBar {
  border: solid 0.8px red;
  width: 100%;
  margin-bottom: 40px;
}

.selectionsContainer button {
  border-radius: 55px;
  height: 50px;
  letter-spacing: 1.5px;
  width: 150px;
}

.selection {
  border: 1px solid black;
  width: 100px;
}

.selection:hover {
  /* background-color: #2e9ce5; */
  background-color: rgb(206, 28, 28);
  /* box-shadow: 0px 15px 20px rgba(46, 171, 229, 0.4); */
  box-shadow: 0px 15px 20px rgb(186, 20, 20);
  color: #fff;
}

.active {
  /* background-color: #2e9ce5; */
  background-color: rgb(223, 21, 21);
  color: #fff;
  border: 1px solid black;
  /* text-decoration: 2px underline red; */
}

@media (max-width: 640px) {
  .selectionsContainer {
    justify-content: space-around;
    gap: 0px;
  }
}



